div.coinbase-commerce-iframe-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99998;

    background-color: rgba(0, 0, 0, 0.5);
}

iframe.coinbase-commerce-iframe {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    border: none;
}
