div.commerce-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(6, 103, 208, 0.05);
    border-radius: 100%;
    border-top-color: white;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    33% {
        transform: rotate(90deg);
    }
    66% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
